* {
    box-sizing: border-box;
}
/*website*/

.top-nav-bar {
    border-top: 3px solid #e5e5e5;
    border-bottom: 5px solid #ff4e00;
    min-height: 90px;
}
.top-nav-bar-width {
    width: 960px;
    margin: 0 auto;
    padding: 0 1px;
    position: relative;
}
h1.gifticon {
    display: inline-block;
    font-size: 16px;
    letter-spacing: -2px;
    line-height: 83px;
}
h1.gifticon a {
    background: url("../img/gifticon-s-b/top-nav/gifticon.png") no-repeat left;
    padding: 7px 0 0 93px;
}
ul.top-nav-list {
    display: inline-block;
    margin-left: 45px;
    font-size: 14px;
    font-weight: bold;
}
ul.top-nav-list li {
    float: left;
}
ul.top-nav-list li:not(:last-child) {
    background: url("../img/gifticon-s-b/top-nav/nav-line.png") no-repeat right center;
}
ul.top-nav-list li:not(:last-child) a {
    padding-right: 20px;
}
ul.top-nav-list li:not(:first-child) a {
    padding-left: 15px;
}
ul.top-nav-list::after, .quick-nav ul.quick-nav-list::after, .header .step ul.step-list::after, ul.footer-list::after, dl.footer-dl::after, .store-top-nav-bar-width ul::after, ul.header-list::after, .header-search-bar-width dl::after, ul.recommend-list::after, .recommend-content::after, ul.tab-nav::after, ul.send-mind-gift::after, .rankings::after, .hot-event::after, ul.brand-names::after, ul.copyright-top::after {
    content: "";
    display: block;
    clear: both;
}
.search-box {
    margin-left: 79px;
    display: inline-block;
    position: relative;
}
.search-box input {
    width: 180px;
    height: 26px;
    padding: 0 13px 0 5px;
    border: 2px solid #f1143c;
}
a.search-arrow {
    background: url("../img/gifticon-s-b/top-nav/search-arrow.png") no-repeat center center;
    position: absolute;
    top: 0;
    right: 44px;
    padding: 12px 5px 14px 5px;
}
.search-box button.search-button {
    border: 2px solid #f1143c;
    border-left: none;
    margin-left: -6px;
    background: url("../img/gifticon-s-b/top-nav/search-button.png") no-repeat;
    width: 42px;
    height: 26px;
    line-height: 2.5;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
}
.quick-nav {
    position: absolute;
    top: 9px;
    right: 1px;
}
.quick-nav ul.quick-nav-list li {
    float: left;
    font-size: 6px;
}
.quick-nav ul.quick-nav-list li:not(:first-child) a {
    padding-left: 5px;
    color: #a8a8a8;
}
.quick-nav ul.quick-nav-list li:not(:last-child) a {
    padding-right: 7px;
    border-right: 1px dotted #a8a8a8;
    color: #a8a8a8;
}
.quick-nav ul.quick-nav-list li a:hover, .quick-nav ul.quick-nav-list li a.active {
    color: #333333;
    font-weight: bold;
}
.contents {
    margin: 0 auto;
    width: 960px;
    padding-top: 11px;
}
.header .this-page {
    text-align: right;
    padding-right: 5px;
    font-size: 11px;
}
.header .this-page a.house-img {
    color: #989898;
    padding: 0 6px 0 18px;
    background: url("../img/gifticon-s-b/top-nav/house-img.png") no-repeat left;
}
.header .this-page span.write-buy {
    color: #737373;
    padding-left: 10px;
    background: url("../img/gifticon-s-b/top-nav/gray-&gt.png") no-repeat left;
}
.header h2.shopping-basket {
    font-size: 37.7px;
    color: #f5370f;
    padding: 0 0 11px 70px;
    background: url("../img/gifticon-s-b/header/shopping-basket.png") no-repeat left top;
    line-height: 52px;
    margin-top: 30px;
    border-bottom: 1px solid #dcdcdc;
}
.header .step {
    line-height: 92px;
    border-bottom: 1px solid #dcdcdc;
    padding: 0 19px 0 10px;
}
.header .step ul.step-list li {
    float: left;
    font-size: 17px;
    color: #bbbbbb;
    letter-spacing: -1px;
}
.header .step ul.step-list li a {
    color: #bbbbbb;
    padding: 35px 0;
}
.header .step ul.step-list li span.org-text {
    font-size: 15px;
    color: #fcb9ab;
}
.header .step ul.step-list li:not(:first-child) {
    padding-left: 9px;
}
.header .step ul.step-list li:not(:last-child) {
    padding-right: 22px;
    background: url("../img/gifticon-s-b/header/step-list-arrow.png") no-repeat right;
}
/*.header .step ul.step-list li:hover span.org-text,*/ .header .step ul.step-list li.active span.org-text {
    color: #f5370f;
    vertical-align: bottom;
}
/*.header .step ul.step-list li:hover, .header .step ul.step-list li:hover a,*/ .header .step ul.step-list li.active {
    font-size: 27px;
    color: #1e1e1e;
    font-weight: bold;
}
.main {
    margin-top: 49px;
    padding-bottom: 407px;
    position: relative;
}
button.help-btn {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/help-btn.png") repeat-x;
    line-height: 19px;
    border: none;
    font-size: 10px;
    color: #999898;
    position: absolute;
    top: -28px;
    right: 0;
}
span.help-btn-left {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/help-btn-left.png") no-repeat left;
    padding-left: 32px;
}
span.help-btn-right {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/help-btn-right.png") no-repeat right;
    padding-right: 15px;
}

/*main table*/

table.main-table {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    font-size: 12px;
    position: relative;
}
h3.table-caption {
    font-size: 0;
}
table.main-table tr {
    line-height: 32px;
}
table.main-table > tbody > tr > th,
table.main-table > tbody > tr > td {
    border: 1px solid #f0f0f0;
}
table.main-table > tbody > tr > th {
    border-left: none;
}
table.main-table > tbody > tr > td {
    border-right: none;
}
table.main-table > tbody > tr:not(:last-child) > th {
    font-weight: lighter;
    background: #f5f5f5;
    color: #7e7e7e;
}
table.main-table > thead > tr,
table.main-table > tbody > tr:last-child {
    background: #ebebeb;
}
table.main-table > tbody > tr:last-child  {
    color: #7e7e7e;
}
table.main-table > tr > th:first-child {
    text-align: left;
    padding-left: 44px;
}
table.main-table > thead > tr > th:last-child,
table.main-table > tbody > tr:last-child > th:last-child {
    text-align: left;
    padding-left: 14px;
}
table.main-table > tbody > tr > td {
    position: relative;
    padding: 0 1px 0 8px;
}
button.reset-btn {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/reset-btn.png") repeat-x;
    line-height: 22px;
    font-size: 11px;
    color: #ffffff;
    border: none;
    position: absolute;
    top: 5px;
    right: 6px;
}
button.finish-btn-position {
    top: 730px;
}
span.reset-btn-left {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/reset-btn-left.png") no-repeat left;
    padding-left: 8px;
}
span.reset-btn-right {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/reset-btn-right.png") no-repeat right;
    padding-right: 25px;
}
span.finish-btn-right {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/finish-btn-right.png") no-repeat right;
    padding-right: 12px;
}
input.table-text-box {
    border: 1px solid #d8d8d8;
    line-height: 21px;
    width: 100%;
    font-size: 12px;
    padding-left: 5px;
}
table.main-table > tbody > tr > td > span.limited-byte {
    position: absolute;
    top: 0;
    right: 6px;
}
table.main-table > tbody > tr:nth-child(2) > td > input {
    width: 163px;
}
table.main-table > tbody > tr td button.cancel-b {
    line-height: 25px;
    margin-left: 2px;
}
table.main-table > tbody > tr:nth-child(3) > th:first-child,
table.main-table > tbody > tr:nth-child(5) > th:first-child {
    vertical-align: middle;
}
table.main-table > tbody > tr:nth-child(3) > td > div,
table.main-table > tbody > tr:nth-child(4) > td > div,
table.main-table > tbody > tr:nth-child(6) > td > div,
table.main-table > tbody > tr:nth-child(8) > td > div,
table.main-table > tbody > tr:nth-child(9) > td > div,
table.main-table > tbody > tr:nth-child(10) > td > div {
    display: inline-block;
}
table.main-table > tbody > tr:nth-child(3) > td > div:nth-child(2) {
    padding-left: 50px;
}
table.main-table > tbody > tr:nth-child(3) > td {
    line-height: 21px;
}
button.main-table-btn {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/main-table-btn.png") repeat-x;
    border: none;
    line-height: 22px;
}
span.main-table-btn-left {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/main-table-btn-left.png") no-repeat left;
    padding-left: 10px;
}
span.main-table-btn-right {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/main-table-btn-right.png") no-repeat right;
    padding-right: 9px;
}
table.main-table > tbody > tr:nth-child(5) > th {
    padding-left: 13px;
}
table.main-table > tbody > tr:nth-child(4) > td > div:nth-child(2) {
    padding-left: 37px;
}
table.main-table > tbody > tr:nth-child(5) > td {
    padding: 0 1px 5px 14px;
    line-height: 27px;
}
table.main-table > tbody > tr > td > div.p-padding {
    padding-left: 3px;
}
span.indent {
    display: block;
    text-indent: 12px;
}
table.main-table > tbody > tr > td >  div.p-padding > button.cancel-button {
    position: absolute;
    top: 30px;
    right: 2px;
}
div.main-red-table > div.p-padding, table.main-table > tbody > tr > td > button.excel-download {
    position: relative;
}
div.main-red-table > div.p-padding > p.gray-text > button.main-table-btn {
    position: absolute;
    bottom: 0;
    right: 2px;
}
div.main-red-table > div.p-padding > p.text-bold, 
table.main-table > tbody > tr > td > div.p-padding > p.text-bold {
    font-weight: bold;
    padding-left: 9px;
    background: url("../img/gifticon-s-b/main/table-text-arrow.png") no-repeat left center;
}
table.main-table > tbody > tr > td > button.excel-download {
    color: #ff5f28;
    line-height: 22px;
    display: inline-block;
    border: none;
    background: url("../img/gifticon-s-b/main/big-excel.png") repeat-x;
}
span.big-excel-left {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/big-excel-left.png") no-repeat;
    padding-left: 35px;
}
span.big-excel-right {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/big-excel-right.png") no-repeat right;
    padding-right: 18px;
}
table.main-table > tbody > tr > td > ul.width-line-list {
    list-style: url("../img/gifticon-s-b/main/width-line-marker.png") inside;
    line-height: normal;
    margin-top: 4px;
}
table.main-table > tbody > tr:nth-child(6) > td {
    padding-left: 15px;
}
table.main-table > tbody > tr:nth-child(6) > td > div:last-child {
    margin-left: 55px;
}
table.main-table > tbody > tr:nth-child(8) > th {
    vertical-align: middle;
}
table.main-table > tbody > tr:nth-child(8) > td {
    padding-top: 12px;
}
img.gifticon-img {
    display: block;
}
table.main-table > tbody > tr:nth-child(8) > td > div.gifticon-ex > span.cancel-button-center {
    margin-top: 5px;
}
div.gifticon-ex {
    text-align: center;
}
div.main-red-table {
    margin-left: 19px;
    padding-top: 1px;
    min-width: 494px;
    position: relative;
}
div.main-red-table .red-table {
    line-height: 0px;
    margin-top: 3px;
}
p.gray-text {
    font-size: 11px;
    color: #a9a9a9;
    line-height: 15px;
}
table.red-table-th,
div.main-red-table > div.red-table > table.red-table-th {
    border-top: 1px solid #d8b19b;
    width: 100%;
    font-size: 12px;
    color: #969696;
    line-height: 32px;
    background: #f4e9e3;
}
table.red-table-th thead tr th div.th-line,
div.main-red-table > div.red-table > table.red-table-th thead tr th div.th-line {
    background: url("../img/my-gifticon/red-table-th-line.png") no-repeat right center;
}
table.red-table-td {
    width: 100%;
}
table.red-table-td > tbody > tr > td {
    line-height: 42px;
    text-align: center;
    color: #646464;
    font-size: 12px;
}
table.red-table-td tbody tr td:last-child {
    padding-left: 21px;
}
table.red-table-td tbody tr:last-child {
    border-bottom: 2px solid #ead6ca;
}
table.red-table-td tbody tr:nth-child(even) {
    background: #fcf9f8;
}
table.red-table-td tbody tr {
    border-top: 1px solid #ead6ca;
}
div.red-table-td-scroll {
    max-height: 131px;
    overflow-y: scroll;
}
table.main-table > tbody > tr:nth-child(8) > td {
    padding-bottom: 20px;
}
table.main-table > tbody > tr:nth-child(8) > td > div.main-red-table > div:last-child {
    margin-top: 5px;
    text-align: right;
}
table.main-table > tbody > tr:nth-child(9) > td > div:last-child {
    padding-left: 95px;
}
table.main-table > tbody > tr:nth-child(10) > td > div:last-child {
    padding-left: 40px;
}
.main div.button-content {
    margin-top: 37px;
    line-height: 0;
    text-align: center;
}
button.back-btn {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/back-btn.png") repeat-x;
    line-height: 25px;
    font-size: 11px;
    color: #727272;
    border: none;
}
span.back-btn-left {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/back-btn-left.png") no-repeat left;
    padding-left: 17px;
}
span.back-btn-right {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/back-btn-right.png") no-repeat right;
    padding-right: 18px;
}
button.next-btn {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/next-btn.png") repeat-x;
    line-height: 25px;
    font-size: 11px;
    color: #ffffff;
    border: none;
}
span.next-btn-left {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/next-btn-left.png") no-repeat left;
    padding-left: 13px;
}
span.next-btn-right {
    display: inline-block;
    background: url("../img/gifticon-s-b/main/next-btn-right.png") no-repeat right;
    padding-right: 23px;
}
.footer {
    background: url("../img/gifticon-s-b/footer/footer-bg.png") repeat-x top;
    width: 100%;
    min-height: 134px;
}
.footer-line {
    line-height: 73px;
    border-bottom: 1px solid #ff7819;
}
.footer-width {
    width: 960px;
    margin: 0 auto;
    padding-left: 2px;
}
h3.gray-gifticon {
    background: url("../img/gifticon-s-b/footer/gray-gifticon.png") no-repeat left center;
    display: inline-block;
    width: 75px;
    height: 25px;
}
.footer-main, .store-wrap .footer .footer-main {
    display: inline-block;
    margin-left: 11px;
    vertical-align: middle;
}
ul.footer-list {
    line-height: 1;
    font-size: 10px;
    font-weight: bold;
    color: #333333;
}
ul.footer-list li {
    float: left;
}
ul.footer-list li:not(:first-child) a {
    padding-left: 20px;
}
ul.footer-list li:not(:last-child) a {
    padding-right: 27px;
    background: url("../img/gifticon-s-b/footer/footer-list-line.png") no-repeat right center;
}
dl.footer-dl {
    font-size: 8px;
    color: #8d8d8d;
    letter-spacing: -0.1px;
    line-height: 1;
    margin-top: 10px;
}
dl.footer-dl dt, dl.footer-dl dd {
    float: left;
}
dl.footer-dl dt, dl.footer-dl dd:not(:last-child) {
    padding-right: 5px;
}
.copyright-p {
    line-height: 60px;
    text-align: center;
    font-size: 8px;
    color: #64615f;
}
span.red-sk {
    color: #ff362e;
    font-weight: bold;
}
span.copyright-yellow {
    color: #ff7e0c;
    font-weight: bold;
}

/*gift store*/

.store-top-nav-bar {
    min-height: 42px;
    padding-bottom: 3px;
    background: url("../img/gift-store/header/top-nav-bottom.png") repeat-x bottom;
}
.store-top-nav-bar-width {
    width: 967px;
    margin: 0 auto;
    height: 42px;
}
a.nate-logo {
    background: url("../img/gift-store/header/nate-logo.png") no-repeat left;
    padding: 9px 35.5px;
}
.nate-logo-position {
    display: inline-block;
    line-height: 42px;
}
.nate-logo-position .search-box {
    margin-left: 20px;
}
.nate-logo-position .search-box input {
    width: 213px;
    height: 24px;
    background: none;
    padding-left: 11px;
    border: 2px solid #f21816;
    font-size: 10px;
    color: #444444;
    vertical-align: text-bottom;
}
.nate-logo-position .search-box button.search-button {
    border: 2px solid #f21816;
    border-left: none;
    background: url("../img/gift-store/header/nate-button.png") no-repeat;
    width: 47px;
    height: 24px;
    vertical-align: text-bottom;
    line-height: 0;
}
.id-logout {
    display: inline-block;
    margin-left: 139px;
}
span.short-cut {
    font-size: 8px;
    color: #666666;
    letter-spacing: -1px;
    padding-right: 19px;
    background: url("../img/gift-store/header/id-arrow.png") no-repeat right;
}
.logout-btn {
    display: inline-block;
    background: url("../img/gift-store/header/logout-btn.png") repeat-x;
    line-height: 19px;
    font-size: 9px;
    letter-spacing: -1px;
}
.logout-btn-left {
    background: url("../img/gift-store/header/logout-btn-left.png") no-repeat left;
    padding-left: 8px;
}
.logout-btn-right {
    background: url("../img/gift-store/header/logout-btn-right.png") no-repeat right;
    padding-right: 7px;
}
.store-top-nav-bar-width ul {
    display: inline-block;
}
.store-top-nav-bar-width ul li {
    float: left;
    font-size: 9px;
    color: #666666;
}
ul.logout-next-list li:not(:last-child) a {
    padding: 0 3.5px;
}
ul.logout-next-list li:last-child a {
    padding: 0 8px 0 3.5px;
    border-right: 1px solid #d3d3d3;
}
ul.logout-last-list li:first-child a {
    margin-left: -6px;
    padding: 0 4px 0 7px;
}
ul.logout-last-list li:not(:first-child) a {
    padding: 0 4px;
}
ul.logout-last-list li:last-child a {
    padding-right: 11px;
    background: url("../img/gift-store/header/more-arrow.png") no-repeat right;
}
.header {
    width: 960px;
    margin: 0 auto;
    padding: 0 7px 0 1px;
}
h1.gifticon-logo {
    display: inline-block;
    background: url("../img/gift-store/header/h1-gifticon.png") no-repeat left center;
    content: "";
    line-height: 58px;
}
h1.gifticon-logo a {
    padding: 16px 47.5px;
    display: inline-block;
}
ul.header-list {
    display: inline-block;
    margin-left: 21px;
}
ul.header-list li {
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #323232;
    letter-spacing: -2px;
}
ul.header-list li a {
    padding: 19px 25px;
}
button.fast-find {
    border: 1px solid #000000;
    background: #3c3c3c;
    font-size: 13px;
    color: #ffffff;
    letter-spacing: -1.5px;
    line-height: 24px;
    padding: 0 15px 0 19px;
    vertical-align: text-bottom;
    margin-left: 24px;
}
span.fast-find-arrow {
    background: url("../img/gift-store/header/fast-find-arrow.png") no-repeat right;
    padding-left: 23px;
    margin-left: -6px;
}
button.white-btn {
    display: inline-block;
    border: none;
    background: none;
    line-height: 26px;
    margin-left: 7px;
    font-size: 12px;
    color: #707070;
    vertical-align: text-bottom;
    letter-spacing: -1.5px;
    font-weight: bold;
}
span.white-btn-center {
    display: inline-block;
    background: url("../img/gift-store/header/white-btn.png") repeat-x;
}
span.white-btn-left {
    display: inline-block;
    background: url("../img/gift-store/header/white-btn-left.png") no-repeat left;
    padding-left: 22px;
}
span.white-btn-right {
    display: inline-block;
    background: url("../img/gift-store/header/white-btn-right.png") no-repeat right;
    padding-right: 26px;
}
.header-search-bar {
    background: url("../img/gift-store/header/header-search-bar.png") repeat-x;
    height: 37px;
}
.header-search-bar-width {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px 0 102px;
}
span.gifticon-search-text {
    line-height: 37px;
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
}
.search-input {
    display: inline-block;
    margin-left: 16px;
}
.search-input input {
    border: 1px solid #c51635;
    width: 351px;
    padding-left: 5px;
}
.red-btn-border {
    border: 1px solid #900016;
    display: inline-block;
    line-height: 17px;
}
.red-btn {
    border: 1px solid #c30c21;
    background: #a0000a;
}
.red-btn a {
    padding: 0 19.5px;
    font-size: 10px;
    color: #ffffff;
}
.header-search-bar-width dl {
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    margin-left: 47px;
}
.header-search-bar-width dl dd:nth-child(2) {
    text-indent: 3px;
}
.header-search-bar-width dl dt, .header-search-bar-width dl dd {
    float: left;
}
.store-main-width {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.aside {
    position: absolute;
    top: 21px;
}
h2.gifticon-store {
    font-size: 21px;
    color: #1e1e1e;
    letter-spacing: -2px;
}
.aside-dl {
    width: 221px;
    padding: 14px 15px 15px 15px;
    margin-top: 12px;
    border: 3px solid #e51937;
}
.your-id {
    font-size: 12px;
    line-height: 27px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}
.your-id span.text-bold {
    font-weight: bold;
    letter-spacing: -2px;
}
.aside-dl > .your-id > button.main-table-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
}
.your-id span.main-table-btn-left {
    padding-left: 6px;
}
.your-id span.main-table-btn-right {
    padding-right: 7px;
}
dl.wish {
    font-size: 11px;
    padding: 0 6px 0 5px;
    line-height: 31px;
    border-bottom: 1px solid #efefef;
}
dl.wish dt, dl.wish dd {
    display: inline-block;
}
dl.wish dd {
    text-indent: 40px;
    color: #f36a00;
}
dl.notice {
    font-size: 11px;
    line-height: 21px;
    padding-left: 5px;
}
dl.notice dd {
    color: #f36a00;
}
ul.aside-bottom-list {
    line-height: 32px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
}
ul.aside-bottom-list li:first-child a {
    padding: 8px 152px 8px 0;
}
ul.aside-bottom-list li:nth-child(n+2):nth-child(-n+4) a {
    padding: 8px 121px 8px 0;
}
ul.aside-bottom-list li:last-child a {
    padding: 8px 108px 8px 0;
}
ul.aside-bottom-list li:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
}
.section {
    padding: 43px 0 0 240px;
    margin: 0 auto;
    width: 960px;
    position: relative;
}
.section-width {
    width: 720px;
    position: relative;
}
.section-width .this-page {
    position: absolute;
    top: -21px;
    right: 0;
    font-size: 11px;
    color: #000000;
}
.section-width .this-page a {
    color: #a8a8a8;
    padding-left: 10px;
    background: url("../img/gift-store/main/home-orange-line.png") no-repeat left center;
}
.section-width .this-page span.this-page-here {
    background: url("../img/gift-store/main/gray-&gt.png") no-repeat left center;
    padding-left: 7px;
}
.gifticon-recommend {
    margin-top: 11px;
    border: 1px solid #d2d2d2;
    border-bottom: none;
    background: #f6f6f6;
    line-height: 44px;
    padding-left: 17px;
}
h3.recommend {
    display: inline-block;
    font-size: 14.87px;
    letter-spacing: -1.5px;
}
p.ask {
    display: inline-block;
    font-size: 11.3px;
    color: #8f8f8f;
    letter-spacing: -1.5px;
    margin-left: 8px;
}
.recommend-content {
    border: 1px solid #e6e6e6;
    border-top: 1px solid #f0f0f0;
    padding: 20px 18px 8px 18px;
}
.best {
    width: 271px;
    min-height: 306px;
    padding-right: 19px;
    border-right: 1px solid #f5f5f5;
    display: inline-block;
    position: relative;
}
.best a.best-click img.best-text {
    position: absolute;
    z-index: 1;
}
.best a.best-click img.best-product {
    position: absolute;
    top: 45px;
    right: 59px;
}
.best a.best-click {
    padding: 0 252px 220px 0;
}
.best-p {
    padding: 19px 0 0 2px;
    border-top: 1px solid #e6e6e6;
    margin-top: 222px;
    letter-spacing: -1px;
    font-size: 12px;
    line-height: 17px;
}
span.gray-text {
    color: #868686;
    font-weight: bold;
}
strong.red-text {
    font-size: 14px;
    color: #e70002;
}
ul.recommend-list {
    float: right;
    width: 410px;
    padding-left: 18px;
}
ul.recommend-list li {
    width: 33%;
    float: left;
    position: relative;
}
ul.recommend-list li:nth-child(n+1):nth-child(-n+3) {
    border-bottom: 1px solid #f5f5f5;
}
ul.recommend-list li:not(:nth-child(3)):not(:last-child) {
    border-right: 1px solid #f5f5f5;
}
ul.recommend-list li .recommend-first-tr {
    padding: 83px 20px 14px 18px;
    display: inline-block;
    position: relative;
}
ul.recommend-list li:first-child .recommend-first-tr,
ul.recommend-list li:nth-child(4) .recommend-last-tr {
    padding-left: 0;
}
li a.gifticon-guide {
    display: block;
    font-size: 12px;
    color: #646464;
    line-height: 14px;
    letter-spacing: -1.5px;
}
li a.food {
    content: "";
    padding: 81px 105px 0px 0px;
}
li a.food img {
    position: absolute;
    top: 22px;
    left: 35px;
}
ul.recommend-list li:first-child a.food img,
ul.recommend-list li:nth-child(4) a.food img {
    left: 17px;
}
ul.recommend-list li:nth-child(5) a.food img {
    left: 10px;
}
.recommend-last-tr {
    display: inline-block;
    padding: 84px 20px 4px 18px;
    position: relative;
}
.store-second-main {
    margin-top: 30px;
}
.send-mind {
    margin-top: 11px;
}
ul.tab-nav {
    font-size: 12.69px;
    line-height: 24px;
}
ul.tab-nav li {
    float: left;
    border: 1px solid #c6c6c6;
    border-bottom: none;
}
ul.tab-nav li:not(:last-child) {
    border-right: none;
}
ul.tab-nav li a {
    padding: 3px 15px;
    color: #686868;
}
ul.tab-nav li a:hover, ul.tab-nav li a.active {
    border: 1px solid #6b6b6b;
    border-right: none;
    background: #7a7a7a;
    color: #ffffff;
}
ul.send-mind-gift {
    line-height: 0;
    padding: 14px 19px 19px 17px;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #e6e6e6;
}
ul.send-mind-gift li {
    float: left;
    width: 20%;
    padding-top: 15px;
}
ul.send-mind-gift li:nth-child(2) {
    padding-top: 2px;
}
ul.send-mind-gift li:nth-child(3), ul.send-mind-gift li:nth-child(4) {
    padding-top: 0;
}
ul.send-mind-gift li:not(:first-child) {
    padding-left: 18px;
}
ul.send-mind-gift li:not(:last-child) {
    padding-right: 18px;
    border-right: 1px solid #f5f5f5;
}
ul.send-mind-gift li a.food {
    padding: 30px 18px 48px 18px;
}
ul.send-mind-gift li a.food img {
    position: relative;
    top: 0;
    left: 0;
}
ul.send-mind-gift li a.gifticon-guide {
    margin-top: 25px;
}
ul.send-mind-gift li a.price {
    line-height: 18px;
}
.rankings > div {
    float: left;
    width: 47%;
}
h3.ranking-h3 {
    line-height: 24px;
    font-size: 12px;
    color: #969696;
    padding-left: 10px;
    border: 1px solid #f1f1f1;
    background: #f8f8f8;
}
.cold-winter-rank, .girl-friend-rank {
    background: url("../img/gift-store/main/ranking-coffee.png") no-repeat left;
    padding-left: 165px;
    margin-top: 14px;
}
ol.winter-list {
    list-style: decimal inside;
}
ol.winter-list li a {
    font-size: 11px;
    color: #646464;
    line-height: 14px;
}
ol.winter-list li a.winter-list-title {
    padding-right: 34px;
}
ol.winter-list li:nth-child(2) a.winter-list-title {
    padding-right: 30px;
}
ol.winter-list li:nth-child(3) a.winter-list-title, 
ol.winter-list li:last-child a.winter-list-title  {
    padding-right: 56px;
}
ol.winter-list li:nth-child(4) a.winter-list-title {
    padding-right: 32px;
}
ol.winter-list li::marker {
    color: #ff820a;
    font-weight: bold;
}
ol.winter-list li a.winter-list-price {
    color: #9e9e9e;
}
.girl-friend {
    margin-left: 31px;
}
.girl-friend-rank {
    background: url("../img/gift-store/main/ranking-girl.png") no-repeat left;
}
ol.girl-list li a.winter-list-title {
    padding-right: 51px;
}
ol.girl-list li:nth-child(2) a.winter-list-title {
    padding-right: 35px;
}
ol.girl-list li:nth-child(3) a.winter-list-title, ol.girl-list li:nth-child(4) a.winter-list-title {
    padding-right: 41px;
}
ol.girl-list li:last-child a.winter-list-title {
    padding-right: 23px;
}
.hot-event {
    margin-top: 13px;
}
.hot-event > div {
    float: left;
    width: 231px;
    border: 1px solid #e6e6e6;
    background: #f1f1f1;
    min-height: 75px;
}
.hot-event > div:not(:last-child) {
    margin-right: 13px;
}
.new {
    width: 212px;
    min-height: 95px;
    border: 1px solid #e6e6e6;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}
a.new-click {
    padding: 7px 171px 67px 0px;
}
img.new-product {
    position: absolute;
    top: 20px;
    left: 42px;
}
span.new-logo-name {
    display: block;
    text-align: center;
    margin-top: 31px;
    font-size: 11px;
    color: #828282;
    letter-spacing: -1px;
}
.brand {
    display: inline-block;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #f8f8f8;
    width: 498px;
    min-height: 95px;
    margin-left: 4px;
}
a.lt {
    background: url("../img/gift-store/main/brand-&lt.png") no-repeat left center;
    display: inline-block;
    padding: 15px 11px 76px 0;
}
a.gt {
    background: url("../img/gift-store/main/brand-&gt.png") no-repeat right center;
    display: inline-block;
    padding: 15px 0 76px 11px;
}
ul.brand-names {
    display: inline-block;
    vertical-align: top;
    width: 476px;
    margin: 0 -6px;
}
ul.brand-names li {
    width: 25%;
    float: left;
    text-align: center;
    position: relative;
}
ul.brand-names li a {
    padding: 0px 0 74px 119px;
}
ul.brand-names li a img {
    position: absolute;
    top: 21px;
    left: 35px;
}
ul.brand-names li:nth-child(2) a img {
    top: 19px;
    left: 25px;
}
ul.brand-names li:nth-child(3) a img {
    top: 19px;
    left: 34px;
}
ul.brand-names li:last-child a img {
    left: 21px;
}
ul.brand-names li a span.new-logo-name {
    margin-top: 53px;
}
.banner, .bottom-banner {
    position: absolute;
    top: 20px;
    right: -20px;
}
.banner-width, .bottom-banner-width {
    position: fixed;
    display: block;
    width: 95px;
    min-height: 413px;
    border: 1px solid #e6e6e6;
    background: #ffffff;
}
.bottom-banner {
    top: 447px;
}
.bottom-banner-width {
    min-height: 195px;
}
.today-see {
    min-height: 33px;
    border-bottom: 1px solid #e6e6e6;
    background: #f3f3f3;
    font-size: 11px;
    font-weight: bold;
    color: #646464;
    letter-spacing: -1px;
    text-align: center;
    padding: 11px 0;
}
.today-see-product {
    padding: 0 10px;
}
a.today-see-top-arrow {
    background: url("../img/gift-store/main/today-top-arrow.png") no-repeat center center;
    padding: 16.5px 36.5px;
    display: block;
}
.today-see-first {
    min-height: 106px;
    border-bottom: 1px solid #f0f0f0;
}
.today-see-first a.today-photo, .bottom-banner-width a.today-photo {
    display: block;
    padding: 0px 9px 12px 13px;
}
.today-see-first a.today-name, .bottom-banner-width a.today-name {
    font-size: 11px;
    color: #828282;
    letter-spacing: -1.9px;
}
a.today-name strong.today-price {
    color: #5a5a5a;
    letter-spacing: 0;
    padding: 0 0 12px 15px;
}
.today-see-product .today-see-first:nth-child(3) a.today-photo {
    padding: 19px 11px 11px 13px;
}
.today-see-product .today-see-first:nth-child(3) a.today-name {
    padding-left: 8px;
} 
.today-see-product .today-see-first:nth-child(3) a.today-name strong.today-price {
    padding: 0 0 0 18px;
}
a.today-see-bottom-arrow {
    background: url("../img/gift-store/main/today-bottom-arrow.png") no-repeat center center;
    padding: 16.5px 36.5px;
    display: block;
}
.banner-event {
    background: #fafafa;
    border-top: 1px solid #e6e6e6;
    padding: 12px 13px;
    color: #828282;
    font-size: 11px;
    line-height: 12.5px;
    letter-spacing: -1.8px;
    min-height: 49px;
    text-align: center;
}
.bottom-banner-width a.today-photo {
    padding: 27px 29px 11px 31px;
}
.bottom-banner-width a.today-name {
    display: block;
    padding-left: 25px;
    position: relative;
}
.bottom-banner-width a.today-name strong.today-price {
    padding: 0;
    line-height: 14.5px;
}
img.bottom-banner-go {
    position: absolute;
    top: 40px;
    right: 0;
}
.store-wrap .footer {
    margin-top: 100px;
    min-height: 153px;
}
.store-wrap .footer .footer-main {
    margin-left: 22px;
}
.store-wrap .footer .copyright {
    padding-top: 15px;
}
.store-wrap .footer .copyright .copyright-p {
    line-height: 43px;
}
.list-center {
    text-align: center;
}
ul.copyright-top {
    text-align: center;
}
ul.copyright-top li {
    float: left;
    display: contents;
}
ul.copyright-top li a {
    font-size: 10px;
    color: #444444;
    letter-spacing: -1px;
    background: url("../img/gift-store/main/gift-store-footer-line.png") no-repeat right;
    padding: 0 8px 0 10px;
}
ul.copyright-top li:not(:first-child) a {
    padding-left: 0;
}
ul.copyright-top li:not(:last-child) a {
    padding-right: 0;
    background: none;
}